In [85]:
# Look at the two pre-cleaned datasets.
# DO any further discovert, cleaning
# then merge
import pandas as pd
from os import chdir

chdir("/Users/bencampbell/code_louisville/capstone/louisville-bike-accidents")


path_to_cycling_safety_cleaned = "data/clean/cycling_safety_louisville_clean.csv"
path_to_LOJIC_cleaned = "data/clean/LOJIC_cycling_data.csv"

CSAFE = pd.read_csv(path_to_cycling_safety_cleaned)
LOJIC = pd.read_csv(path_to_LOJIC_cleaned)

In [86]:
CSAFE_cols = set(CSAFE.columns.to_list())
LOJIC_cols = set(LOJIC.columns.to_list())
column_intersect = sorted(CSAFE_cols & LOJIC_cols)
column_xor = sorted(CSAFE_cols ^ LOJIC_cols)
all_cols = column_intersect + column_xor

In [87]:
notes = {'between_street_name_1':None,
 'between_street_name_2':None,
 'building_number':"convert CSAFE value to str(int(...))",
 'date':"done",
 'directional_analysis':"compatible, but no common values",
 'hit_and_run':"done",
 'intersection_roadway_name':None,
 'investigating_agency':'done',
 'latitude':"done",
 'light_condition':'deal with OTHER and Nan values esp. in LOJIC',
 'longitude':"done",
 'manner_of_collision':'done',
 'milepoint':'done',
 'motor_vehicles_involved':'done',
 'roadway_character':'done',
 'roadway_condition':'done',
 'roadway_direction':'done',
 'roadway_name':None,
 'roadway_number':'get rid of whitespace in some strings',
 'roadway_suffix':'done',
 'secondary_collision':'done',
 'units_involved':'done',
 'weather':'done'}

pd.Series(notes)

between_street_name_1                                                None
between_street_name_2                                                None
building_number                      convert CSAFE value to str(int(...))
date                                                                 done
directional_analysis                     compatible, but no common values
hit_and_run                                                          done
intersection_roadway_name                                            None
investigating_agency                                                 done
latitude                                                             done
light_condition              deal with OTHER and Nan values esp. in LOJIC
longitude                                                            done
manner_of_collision                                                  done
milepoint                                                            done
motor_vehicles_involved                                              done
roadway_character                                                    done
roadway_condition                                                    done
roadway_direction                                                    done
roadway_name                                                         None
roadway_number                      get rid of whitespace in some strings
roadway_suffix                                                       done
secondary_collision                                                  done
units_involved                                                       done
weather                                                              done
dtype: object

In [88]:

data = pd.concat((LOJIC.dtypes, CSAFE.dtypes, pd.Series(notes)), axis=1)
data

,0,1,2
incident_id,int64,NaN,NaN
investigating_agency,object,object,done
roadway_number,object,object,get rid of whitespace in some strings
building_number,object,object,convert CSAFE value to str(int(...))
roadway_direction,object,object,done
roadway_name,object,object,None
roadway_suffix,object,object,done
roadway_type,object,object,NaN
road_classification,object,NaN,NaN
council_district,int64,NaN,NaN
intersection_roadway_number,object,object,NaN
intersection_roadway_name,object,object,None
between_street_number_1,object,object,NaN
between_street_name_1,object,object,None
between_street_number_2,object,object,NaN
between_street_name_2,object,object,None
latitude,float64,float64,done
longitude,float64,float64,done
milepoint,float64,float64,done
day_of_week,object,object,NaN
date,object,object,done
units_involved,int64,int64,done
motor_vehicles_involved,int64,int64,done
mode,object,NaN,NaN
weather,object,object,done
roadway_condition,object,object,done
hit_and_run,bool,bool,done
directional_analysis,object,object,"compatible, but no common values"
manner_of_collision,object,object,done
roadway_character,object,object,done
light_condition,object,object,deal with OTHER and Nan values esp. in LOJIC
secondary_collision,bool,bool,done
object_id,int64,NaN,NaN
fatality_indicator,bool,bool,NaN
injury_indicator,bool,bool,NaN
master_file_number,NaN,int64,NaN
local_code,NaN,object,NaN
intersection_roadway_suffix,NaN,object,NaN
between_street_suffix_1,NaN,object,NaN
between_street_suffix_2,NaN,object,NaN
killed,NaN,int64,NaN
injured,NaN,int64,NaN

### General notes

Add a column to identify LOJIC data vs. CSAFE data in case there are any further discrepancies to deal with.

In [89]:

def print_table(data):
    header = "| column name | LOJIC dtype | CSAFE dtype | notes |" 
    spaner = "|-------------|-------------|-------------|-------|"
    row = "|{name}|{LOJICDT}|{CSAFEDT}|{note}|"

    ds = lambda s:"" if s == "nan" else s
    dn = lambda s:ds(str(s))

    print(header)
    print(spaner)
    for name in all_cols:
        record = data.loc[name]
        LODT = dn(record[0])
        CSDT = dn(record[1])
        note = record[2]
        print(row.format(name=name, LOJICDT=LODT, CSAFEDT=CSDT, note=note))
    
    
print_table(data)

| column name | LOJIC dtype | CSAFE dtype | notes |
|-------------|-------------|-------------|-------|
|between_street_name_1|object|object|None|
|between_street_name_2|object|object|None|
|between_street_number_1|object|object|nan|
|between_street_number_2|object|object|nan|
|building_number|object|object|convert CSAFE value to str(int(...))|
|date|object|object|done|
|day_of_week|object|object|nan|
|directional_analysis|object|object|compatible, but no common values|
|fatality_indicator|bool|bool|nan|
|hit_and_run|bool|bool|done|
|injury_indicator|bool|bool|nan|
|intersection_roadway_name|object|object|None|
|intersection_roadway_number|object|object|nan|
|investigating_agency|object|object|done|
|latitude|float64|float64|done|
|light_condition|object|object|deal with OTHER and Nan values esp. in LOJIC|
|longitude|float64|float64|done|
|manner_of_collision|object|object|done|
|milepoint|float64|float64|done|
|motor_vehicles_involved|int64|int64|done|
|roadway_character|object|object|done|
|roadway_condition|object|object|done|
|roadway_direction|object|object|done|
|roadway_name|object|object|None|
|roadway_number|object|object|get rid of whitespace in some strings|
|roadway_suffix|object|object|done|
|roadway_type|object|object|nan|
|secondary_collision|bool|bool|done|
|units_involved|int64|int64|done|
|weather|object|object|done|
|between_street_suffix_1||object|nan|
|between_street_suffix_2||object|nan|
|council_district|int64||nan|
|incident_id|int64||nan|
|injured||int64|nan|
|intersection_roadway_suffix||object|nan|
|killed||int64|nan|
|local_code||object|nan|
|master_file_number||int64|nan|
|mode|object||nan|
|object_id|int64||nan|
|road_classification|object||nan|

# Data dictionary for joined data

| column name | LOJIC dtype | CSAFE dtype | notes |
|-------------|-------------|-------------|-------|
|between_street_name_1|object|object||
|between_street_name_2|object|object||
|building_number|object|object|convert CSAFE value to str(int(...))|
|date|object|object|done|
|directional_analysis|object|object|compatible, but no common values|
|hit_and_run|bool|bool|done|
|intersection_roadway_name|object|object||
|investigating_agency|object|object|done|
|latitude|float64|float64|done|
|light_condition|object|object|deal with OTHER and Nan values esp. in LOJIC|
|longitude|float64|float64|done|
|manner_of_collision|object|object|done|
|milepoint|float64|float64|done|
|motor_vehicles_involved|int64|int64|done|
|roadway_character|object|object|done|
|roadway_condition|object|object|done|
|roadway_direction|object|object|done|
|roadway_name|object|object||
|roadway_number|object|object|get rid of whitespace in some strings|
|roadway_suffix|object|object|done|
|secondary_collision|bool|bool|done|
|units_involved|int64|int64|done|
|weather|object|object|done|
|between_street_1|object|| similar to between_street_number_1 |
|between_street_2|object|| similar to between_street_number_2|
|between_street_number_1||object| similar to between_street_1|
|between_street_number_2||object| similar to between_street_2|
|between_street_suffix_1||object||
|between_street_suffix_2||object||
|collision_status_code||object||
|council_district|int64|||
|day_of_week|object|| generate day_of_week for CSAFE |
|directional_analysis_code||float64||
|fatality_indicator|bool||generate fatality_indicator for CSAFE|
|incident_id|int64|||
|injured||int64||
|injury_indicator|bool||generate injury_indicator foor CSAFE|
|intersection_roadway|object||similar to CSAFE[intersection_roadway_number] rename to that to make it compatible|
|intersection_roadway_number||object| similar to LOJIC[intersection_roadway]; no rename|
|intersection_roadway_suffix||object||
|killed||int64||
|light_condition_code||float64|numeric code not present in LOJIC|
|local_code||object||
|manner_of_collision_code||float64||
|master_file_number||int64||
|mode|object|||
|object_id|int64|||
|owner|object|||
|ramp_from_roadway_id||float64||
|ramp_to_roadway_id||float64||
|road_classification|object|||
|roadway_character_code||float64|numeric code not present in LOJIC|
|roadway_condition_code||float64|numeric code not present in LOJIC|
|roadway_type||object||
|roadway_type_code||float64||
|weather_code||float64|numeric code not present in LOJIC|

# Common column names:
`['between_street_name_1', 'between_street_name_2', 'building_number', 'date', 'directional_analysis',
    'hit_and_run', 'intersection_roadway_name', 'intersection_roadway_number', 'investigating_agency', 'latitude', 'light_condition', 'longitude', 'manner_of_collision', 'milepoint', 'motor_vehicles_involved', 'roadway_character', 'roadway_condition', 'roadway_direction', 'roadway_name', 'roadway_number', 'roadway_suffix', 'roadway_type',
    'secondary_collision', 'units_involved', 'weather']`

In [90]:
def pair(col_name):
    return pd.DataFrame({"CSAFE":CSAFE[col_name], "LOJIC": LOJIC[col_name]})

def join(col_name):
    return pd.concat((CSAFE[col_name], LOJIC[col_name]), axis=0)

In [91]:
pair('between_street_name_1').dropna()

          CSAFE            LOJIC
13       ELMORE          CAPTAIN
14       WILLIS           HAROLD
23       SHELBY        WATTERSON
36   FERN GRADE            KERRY
39        NOBEL         COLORADO
40     KENTUCKY  HUNTINGTON PARK
94     MAGNOLIA        BLUE VALE
101   PATTERSON  KY841 CROSSOVER
117        PARK            CAROL

In [92]:
pair('between_street_name_2').dropna()

                CSAFE                          LOJIC
13              LAMAR                  GLENMARY FARM
14            CANNONS                       HARDESTY
23              LOGAN                      WATTERSON
36        BEANBLOSSOM                          DIXIE
39              NOBEL                        COMPTON
40       BRECKINRIDGE                        PRODUCE
94             ORMSBY                   AUTUMN RIDGE
101             LUCIA  I65 S EXIT125 RAMP FROM KY481
117  IROQUOIS GARDENS               NOLTEMEYER WYNDE

In [93]:
pair("building_number")
# CSAFE type is stirng representation of an in or float.
# LOJIC is int / string
CSAFE["building_number"].dropna().unique()
#LOJIC["building_number"].dropna()
# Convert CSAFE values to str(int(...))

array(['2300', '4303', '1109', '5013', '100', '1049', '7490', '600',
       '9111', '8006', '10821', '1810', '1121', '3706', '12100', '4100',
       '4901', '8412', '2100', '3600', '3804', '5022', '2700', '5913',
       '6700', '3820', '2500', '7806', '4133', '6101', '2216', '9120',
       '8020', '1500', '1000', '700', '4124', '5501', '1600', '7000',
       '3410', '4111', '5543', '4032', '131', '1900', '7321', '3121',
       '5000', '2200', '9800', '3231', '3521', '4450', '7010', '900',
       '8019', '10300', '12305', '4224', '927', '1228', '967', '1784',
       '3200', '5244', '4911', '1132', '3742', '4000', '1365', '7121',
       '3208', '5604', '1020', '4200', '2106', '2633', '10400', '     ',
       '430', '9410', '634', '3340', '6600'], dtype=object)

In [94]:
CSAFE['building_number'].dropna().unique()

array(['2300', '4303', '1109', '5013', '100', '1049', '7490', '600',
       '9111', '8006', '10821', '1810', '1121', '3706', '12100', '4100',
       '4901', '8412', '2100', '3600', '3804', '5022', '2700', '5913',
       '6700', '3820', '2500', '7806', '4133', '6101', '2216', '9120',
       '8020', '1500', '1000', '700', '4124', '5501', '1600', '7000',
       '3410', '4111', '5543', '4032', '131', '1900', '7321', '3121',
       '5000', '2200', '9800', '3231', '3521', '4450', '7010', '900',
       '8019', '10300', '12305', '4224', '927', '1228', '967', '1784',
       '3200', '5244', '4911', '1132', '3742', '4000', '1365', '7121',
       '3208', '5604', '1020', '4200', '2106', '2633', '10400', '     ',
       '430', '9410', '634', '3340', '6600'], dtype=object)

In [95]:
noblank = CSAFE['building_number'].replace(to_replace='     ', value=pd.NA)
fix = noblank.dropna().apply(lambda x:str(int(float(x))))
CSAFE['building_number'].update(fix)
CSAFE['building_number'].unique()

array([nan, '2300', '4303', '1109', '5013', '100', '1049', '7490', '600',
       '9111', '8006', '10821', '1810', '1121', '3706', '12100', '4100',
       '4901', '8412', '2100', '3600', '3804', '5022', '2700', '5913',
       '6700', '3820', '2500', '7806', '4133', '6101', '2216', '9120',
       '8020', '1500', '1000', '700', '4124', '5501', '1600', '7000',
       '3410', '4111', '5543', '4032', '131', '1900', '7321', '3121',
       '5000', '2200', '9800', '3231', '3521', '4450', '7010', '900',
       '8019', '10300', '12305', '4224', '927', '1228', '967', '1784',
       '3200', '5244', '4911', '1132', '3742', '4000', '1365', '7121',
       '3208', '5604', '1020', '4200', '2106', '2633', '10400', '     ',
       '430', '9410', '634', '3340', '6600'], dtype=object)

In [96]:
pair('date')
# done

                          CSAFE                      LOJIC
0     2010-02-20 16:20:00-05:00  2016-02-03 08:55:00-05:00
1     2010-01-13 13:40:00-05:00  2017-02-03 19:59:00-05:00
2     2010-01-13 10:00:00-05:00  2016-04-15 23:28:00-04:00
3     2010-01-15 15:50:00-05:00  2016-09-11 15:25:00-04:00
4     2010-02-02 06:11:00-05:00  2016-10-03 22:04:00-04:00
...                         ...                        ...
1268  2017-12-05 07:07:00-05:00                        NaN
1269  2017-12-14 17:09:00-05:00                        NaN
1270  2017-12-19 10:00:00-05:00                        NaN
1271  2017-12-21 19:56:00-05:00                        NaN
1272  2017-12-22 21:51:00-05:00                        NaN

[1273 rows x 2 columns]

In [97]:
DA = pair('directional_analysis')
DA["CSAFE"].unique()
DA["LOJIC"].unique() 
# Different sets of values, no intersection. 
# Maybe I have to drop this; might not be useful.

array(['COLLISION WITH BICYCLE IN INTERSECTION',
       'COLLISION WITH BICYCLIST NON INTERSECTION',
       'COLLISION WITH PEDESTRIAN NON - INTERSECTION', nan,
       'COLLISION WITH PEDESTRIAN IN INTERSECTION',
       'OTHER INTERSECTION COLLISIONS',
       'OTHER ROADWAY OR MID-BLOCK COLLISION',
       '1 VEHICLE ENTERING/LEAVING ENTRANCE'], dtype=object)

In [98]:
DA.apply(lambda x:x.value_counts(dropna=False))

                                              CSAFE   LOJIC
1 VEHICLE ENTERING/LEAVING ENTRANCE             NaN     1.0
COLLISION WITH BICYCLE                        704.0     NaN
COLLISION WITH BICYCLE IN INTERSECTION          NaN    45.0
COLLISION WITH BICYCLIST                      569.0     NaN
COLLISION WITH BICYCLIST NON INTERSECTION       NaN    57.0
COLLISION WITH PEDESTRIAN IN INTERSECTION       NaN     2.0
COLLISION WITH PEDESTRIAN NON - INTERSECTION    NaN     2.0
OTHER INTERSECTION COLLISIONS                   NaN     2.0
OTHER ROADWAY OR MID-BLOCK COLLISION            NaN     1.0
NaN                                             NaN  1163.0

In [99]:
# Boolean indicators. These are fully compatible. 
pair('hit_and_run'), pair('secondary_collision')

(      CSAFE  LOJIC
 0     False  False
 1      True  False
 2     False  False
 3      True  False
 4     False  False
 ...     ...    ...
 1268  False    NaN
 1269  False    NaN
 1270  False    NaN
 1271  False    NaN
 1272  False    NaN

 [1273 rows x 2 columns],
       CSAFE  LOJIC
 0     False  False
 1     False  False
 2     False  False
 3     False  False
 4     False  False
 ...     ...    ...
 1268  False    NaN
 1269  False    NaN
 1270  False    NaN
 1271  False    NaN
 1272  False    NaN

 [1273 rows x 2 columns])

In [100]:
pair('intersection_roadway_name')

                                 CSAFE   LOJIC
0                             DEERPARK  WINTER
1     I71 N EXIT2 OFF RAMP TO ZORN AVE     NaN
2                                 JANE     NaN
3                                  NaN     3RD
4                                 CONN     NaN
...                                ...     ...
1268                               NaN     NaN
1269                            WOODED     NaN
1270                         JEFFERSON     NaN
1271                             ARJAY     NaN
1272                               NaN     NaN

[1273 rows x 2 columns]

In [101]:
pair('investigating_agency').apply(lambda x:x.value_counts(dropna=False))

                                 CSAFE   LOJIC
ANCHORAGE POLICE DEPARTMENT        1.0     NaN
AUDUBON PARK POLICE DEPARTMENT     1.0     NaN
GRAYMOOR-DEVONDALE POLICE DEPT     2.0     NaN
INDIAN HILLS POLICE DEPARTMENT     5.0     NaN
JEFFERSONTOWN POLICE DEPT         24.0     NaN
LOUISVILLE METRO POLICE DEPT    1160.0   110.0
LYNDON POLICE DEPARTMENT           NaN     2.0
NORTHFIELD POLICE DEPARTMENT       1.0     NaN
PROSPECT POLICE DEPARTMENT         2.0     NaN
SHIVELY POLICE DEPARTMENT         40.0     5.0
ST. MATTHEWS POLICE DEPARTMENT    29.0     1.0
UNIV. OF LOUISVILLE POLICE         7.0     1.0
WEST BUECHEL POLICE DEPT.          1.0     NaN
NaN                                NaN  1154.0

In [102]:
# These are all compatible
pair('latitude'), pair('longitude')

(          CSAFE      LOJIC
 0     38.231850  38.235708
 1     38.273995  38.154226
 2     38.258551  38.091322
 3     38.250012  38.225816
 4     38.195890  38.014473
 ...         ...        ...
 1268  38.153815        NaN
 1269  38.163618        NaN
 1270  38.160030        NaN
 1271  38.198257        NaN
 1272  38.124819        NaN

 [1273 rows x 2 columns],
           CSAFE      LOJIC
 0    -85.707933 -85.727638
 1    -85.696572 -85.885464
 2    -85.703576 -85.701118
 3    -85.697265 -85.760326
 4    -85.793380 -85.925157
 ...         ...        ...
 1268 -85.733644        NaN
 1269 -85.688008        NaN
 1270 -85.671480        NaN
 1271 -85.626309        NaN
 1272 -85.890658        NaN

 [1273 rows x 2 columns])

In [103]:
 pair('light_condition').apply(lambda x:x.value_counts(dropna=False))
# 1 value "OTHER" in LOJIC
# Lots on Nan's in LOJIC.

                                 CSAFE  LOJIC
DARK (UNKNOWN ROADWAY LIGHTING)    5.0      3
DARK-HWY LIGHTED/OFF              22.0      4
DARK-HWY LIGHTED/ON              159.0     20
DARK-HWY NOT LIGHTED              42.0     23
DAWN                              29.0      3
DAYLIGHT                         962.0     60
DUSK                              54.0      5
OTHER                              NaN      1
NaN                                NaN   1154

In [104]:
MOC = pair('manner_of_collision')
MOC
#MOC["CSAFE"].unique(), MOC['LOJIC'].unique()

               CSAFE           LOJIC
0              ANGLE  SINGLE VEHICLE
1     SINGLE VEHICLE  SINGLE VEHICLE
2     SINGLE VEHICLE  SINGLE VEHICLE
3     SINGLE VEHICLE  SINGLE VEHICLE
4     SINGLE VEHICLE  SINGLE VEHICLE
...              ...             ...
1268  SINGLE VEHICLE             NaN
1269  SINGLE VEHICLE             NaN
1270  SINGLE VEHICLE             NaN
1271  SINGLE VEHICLE             NaN
1272  SINGLE VEHICLE             NaN

[1273 rows x 2 columns]

In [105]:
pair('milepoint').describe()

             CSAFE       LOJIC
count  1207.000000  119.000000
mean      4.037019    3.696748
std       6.485810    4.603552
min       0.000000    0.004000
25%       0.312500    0.556000
50%       1.170000    1.376000
75%       5.462000    5.277000
max     124.526000   18.399000

In [106]:
pair('motor_vehicles_involved').apply(lambda x:x.unique())
# Slightly different types. Compatible.

CSAFE                         [1, 2, 3]
LOJIC    [1.0, 2.0, 0.0, 3.0, 4.0, nan]
dtype: object

In [107]:
RC = pair('roadway_character')
RC['CSAFE'].unique(), RC['LOJIC'].unique()
# No problems.

(array(['STRAIGHT & GRADE', 'CURVE & LEVEL', 'STRAIGHT & LEVEL',
        'CURVE & GRADE', 'CURVE & HILLCREST', 'STRAIGHT & HILLCREST'],
       dtype=object),
 array(['STRAIGHT & LEVEL', 'STRAIGHT & GRADE', 'CURVE & LEVEL',
        'STRAIGHT & HILLCREST', nan], dtype=object))

In [108]:
 pair('roadway_condition')
# No problem.

                           CSAFE LOJIC
0                            DRY   DRY
1                            DRY   DRY
2                            DRY   DRY
3                            DRY   DRY
4                            DRY   DRY
...                          ...   ...
1268                         WET   NaN
1269                         DRY   NaN
1270                         DRY   NaN
1271                         DRY   NaN
1272  WATER (STANDING OR MOVING)   NaN

[1273 rows x 2 columns]

In [109]:
 pair('roadway_direction')
# No problem.

     CSAFE LOJIC
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3        S     W
4      NaN   NaN
...    ...   ...
1268   NaN   NaN
1269   NaN   NaN
1270   NaN   NaN
1271   NaN   NaN
1272   NaN   NaN

[1273 rows x 2 columns]

In [110]:
 pair('roadway_name')

             CSAFE       LOJIC
0        BARDSTOWN      BARRET
1             ZORN   GREENBELT
2       BROWNSBORO  HUTCHERSON
3         PETERSON        HILL
4       GEORGETOWN       DIXIE
...            ...         ...
1268         GRADE         NaN
1269       JEANINE         NaN
1270  POPLAR LEVEL         NaN
1271      WOODGATE         NaN
1272    TRADE PORT         NaN

[1273 rows x 2 columns]

In [111]:
RN = pair("roadway_number")
join("roadway_number").value_counts()

roadway_number
US0031E    81
US0031W    72
KY1020     55
KY0061     42
US0060     36
US0150     35
US0060A    32
KY0864     23
KY1931     18
KY0155     17
KY1865     16
KY1065     13
KY1447     12
KY1747     11
US0042     10
US0031      9
KY1932      8
KY0907      7
KY2050      7
KY1934      7
KY2049      6
KY2048      6
I 0264      5
KY3082      5
KY2052      5
KY1703      5
KY1450      5
KY0146      5
KY1727      4
I 0065      4
KY0841      4
KY2051      4
KY2054      4
KY1819      4
KY3064      4
KY1631      3
KY2251      3
KY1142      3
KY2055      2
KY2845      2
KY0913      2
KY2860      1
I 0064      1
KY3077      1
KY1230      1
KY2053      1
KY0148      1
I 0265      1
KY1851      1
Name: count, dtype: int64

In [112]:
 join('roadway_suffix').unique()

array(['RD', 'AVE', 'PL', 'PKWY', 'ST', nan, 'TRCE', 'DR', 'LN', 'HWY',
       'BLVD', 'PLZ', 'TRL', 'ALY', 'WAY', 'BYP', 'CIR', 'LOOP', 'CT',
       'PARK', 'TPKE', 'TER', 'FWY'], dtype=object)

In [113]:
 join('units_involved').unique()
pair('units_involved').dtypes

CSAFE      int64
LOJIC    float64
dtype: object

In [114]:
join('weather').unique()
pair('weather')

        CSAFE   LOJIC
0       CLEAR   CLEAR
1       CLEAR  CLOUDY
2       CLEAR   CLEAR
3       CLEAR   CLEAR
4       CLEAR  CLOUDY
...       ...     ...
1268  RAINING     NaN
1269   CLOUDY     NaN
1270    CLEAR     NaN
1271    CLEAR     NaN
1272  RAINING     NaN

[1273 rows x 2 columns]

In [115]:
CSAFE_cols - LOJIC_cols

{'between_street_suffix_1',
 'between_street_suffix_2',
 'injured',
 'intersection_roadway_suffix',
 'killed',
 'local_code',
 'master_file_number'}

## Unmatched column names:
# LOJIC only

Similar data in CSAFE. Will need to change the name

`['between_street_1', 'between_street_2']`

Useful columns not in CSAFE. Generate these columns for CSAFE

`['council_district', 'day_of_week', 'injury_indicator', 'fatality_indicator']`

Identifiers for each record

 `['incident_id', 'object_id']`

 Other fields

 `['intersection_roadway', 'mode', 'owner', 'road_classification']`

# CSAFE only

Similar data in LOJIC. Will need renames.

`['between_street_number_1', 'between_street_number_2']`

??

`['between_street_suffix_1', 'between_street_suffix_2']`

Numeric codes for different conditions. These are paired with a human readable code in CSAFE.
Similar string values exist for many of these in LOJIC data.
I will drop these numeric columns as they are not directly comparable. 

`['directional_analysis_code', 'light_condition_code', 'manner_of_collision_code',
'roadway_condition_code', 'roadway_character_code', 'weather_code', 'roadway_type_code']`

Generate "fatality_indicator" and "injury_indicator" from these.
`['killed', 'injured']`



 `'intersection_roadway_suffix'`

 Identifiers for record 
 `['local_code', 'master_file_number']`
 
 Reporting code for the incident report: Probably not useful.
`'collision_status_code'`

In [116]:
LOJIC['between_street_number_1'].dropna() # Alphanumeric roadway designator like KY 2049, US31W
CSAFE['between_street_number_1'].dropna() # Same thing
LOJIC['between_street_number_2'].dropna()
CSAFE['between_street_number_2'].dropna()
# These all have the same kind of alphanumeric data. 
# Rectify these names to make them compatible
# * make sure this doesn't clash with anything. 

# DONE

5        I 0264
14       KY2048
42       KY1065
62       KY1020
79       US0060
81       US0150
107      KY0061
115     US0031E
116     US0060A
132      KY1020
162      KY2054
250      US0150
264      KY0061
272      KY1865
293      KY0864
299      US0150
316     US0031E
330      KY0061
334     US0031E
365      KY0864
379     US0031E
403      KY0061
425      US0150
430      KY1703
439      US0150
442      KY2048
451     US0060A
471      KY1020
496     US0031W
527      KY0061
585     US0031E
590     US0060A
627      KY2251
638      KY0061
676      KY1931
677      US0060
681     US0031W
694      KY1065
698      US0150
704      KY1931
741      KY0061
760      KY1020
785     US0031W
811      KY2840
852      US0150
938      KY2048
980     US0060A
984      KY0061
1082     KY2049
1101     KY2860
1157     I 0065
1260     I 0265
Name: between_street_number_2, dtype: object

In [117]:
CSAFE['intersection_roadway_suffix'].dropna()

2       ST
4       ST
6       BLVD
7       AVE
8       ST
        ...
1265    ST
1266    DR
1269    WAY
1270    BLVD
1271    LN
Name: intersection_roadway_suffix, Length: 645, dtype: object

In [118]:
CSAFE['killed'].apply(lambda x:True if x > 0 else False).value_counts()

killed
False    1262
True       11
Name: count, dtype: int64

In [119]:
d =CSAFE['date'][0]
pd.Timestamp(d).day_name()

'Saturday'

## Date overlap

In [120]:
import numpy as np

CSAFE['date'] = CSAFE['date'].apply(pd.Timestamp)
LOJIC['date'] = LOJIC['date'].apply(pd.Timestamp)

# I'm loading data from CSV, which stores Timestamps as strings.
# I have to convert them back to pd.Timestamp if I want to use comparisons
# This is annoying. Perhaps break up date/time into year/month/day/hour/etc... columns?

date_intersect = np.intersect1d(CSAFE['date'], LOJIC['date'])
date_intersect
#len(date_intersect) == 18

CS = CSAFE_intersect = CSAFE[CSAFE['date'].isin(date_intersect)].set_index('date').sort_index()
LO = LOJIC_intersect = LOJIC[LOJIC['date'].isin(date_intersect)].set_index('date').sort_index()
#assert all(CSAFE_intersect.index == LOJIC_intersect.index)
cols = list(np.intersect1d(CSAFE_intersect.columns, LOJIC_intersect.columns))

In [132]:
date_index = 8 ,
date = date_intersect[date_index]

j = pd.concat((LO.loc[date], CS.loc[date]), axis=1, ignore_index=True)
j[(j[0] !=j[1])][j[0].notnull() | j[1].notnull()]
# ^^ This line gives me all the common columns between CSAFE and LOJIC, where
# CSAFE['date'] == LOJIC['date'] AND for all column names common between CSAFE AND LOJIC:
#   CSAFE[column] is not null and != LOJIC[column] which is not null as well.

/var/folders/7s/9_9p_dsj0n9581txqt_9rrpc0000gn/T/ipykernel_8264/1981706174.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  j[(j[0] !=j[1])][j[0].notnull() | j[1].notnull()]

,0,1
incident_id,19439951,NaN
roadway_type,STATE,FEDERAL
road_classification,MAJOR ARTERIAL,NaN
council_district,0,NaN
mode,BICYCLE,NaN
directional_analysis,COLLISION WITH BICYCLIST NON INTERSECTION,COLLISION WITH BICYCLIST
object_id,739,NaN
master_file_number,NaN,71986738
local_code,NaN,8017025649
between_street_suffix_1,NaN,AVE
between_street_suffix_2,NaN,AVE
killed,NaN,0
injured,NaN,1

In [122]:
CSAFE['roadway_suffix'][3]

'AVE'

In [123]:
CSAFE['intersection_roadway_number'][1]

'I 0071'