In [2]:
import pandas as pd
import pandasql
import os


os.chdir("/Users/bencampbell/code_louisville/capstone/louisville-bike-accidents/")

DATA = "data/clean/bike_accidents.csv"
assert os.path.exists(DATA)

DATA = pd.read_csv(DATA)

SIGDATA = "data/preclean/signalized_intersections.csv"

SIG = pd.read_csv(SIGDATA)

# Set hash as index for testing
#DATA['hash'] = pd.util.hash_pandas_object(DATA)
#SIG['hash'] = pd.util.hash_pandas_object(SIG)

def query(query, **names):
    if not names:
        names = {"DATA":DATA, "SIG":SIG}
    return pandasql.sqldf(query, names)

In [3]:
SIG

,longitude,latitude,main_street,cross_street,route_number,milepoint,owner,type
0,-85.499337,38.270632,OLD HENRY,I 265 RAMP,KY-3084,1.250,KYTC,1
1,-85.498479,38.241589,SHELBYVILLE,BECKLEY WOODS,US 60,12.291,KYTC,1
2,-85.493550,38.240517,SHELBYVILLE,LAKE FOREST,US-60,12.580,KYTC,1
3,-85.570212,38.311002,BROWNSBORO,I 265 RAMP,KY-22,3.700,KYTC,1
4,-85.627965,38.283916,HERR,LIME KILN,KY-22,0.440,KYTC,1
...,...,...,...,...,...,...,...,...
1086,-85.546671,38.147768,BILLTOWN RD,I 265 RAMP,KY-1819,5.290,KYTC,1
1087,-85.495722,38.271982,OLD HENRY RD,TERRA CROSSING BLVD,KY-3084,1.480,KYTC,1
1088,-85.551047,38.296855,WESTPORT RD,I 265 RAMP,KY-1447,6.470,KYTC,1
1089,-85.614517,38.125808,BEULAH CHURCH RD,I 265 RAMP,KY-864,3.450,KYTC,1
1090,-85.697942,38.275734,ZORN AVE,I 71 RAMP,NaN,NaN,KYTC,1

In [7]:
query("select SIG.main_street, SIG.rowid, DATA.roadway_name, DATA.rowid from SIG join DATA where SIG.main_street == DATA.roadway_name")

           main_street  rowid     roadway_name  rowid
0          SHELBYVILLE      2      SHELBYVILLE     52
1          SHELBYVILLE      2      SHELBYVILLE    121
2          SHELBYVILLE      2      SHELBYVILLE    176
3          SHELBYVILLE      2      SHELBYVILLE    226
4          SHELBYVILLE      2      SHELBYVILLE    456
...                ...    ...              ...    ...
11820        BARDSTOWN   1077        BARDSTOWN   1228
11821        BARDSTOWN   1077        BARDSTOWN   1277
11822        BARDSTOWN   1077        BARDSTOWN   1282
11823  TAYLORSVILLE RD   1080  TAYLORSVILLE RD    689
11824  TAYLORSVILLE RD   1085  TAYLORSVILLE RD    689

[11825 rows x 4 columns]

In [11]:
SIG.iloc[1].main_street, DATA.iloc[51].roadway_name

#DATA.date

('SHELBYVILLE', 'SHELBYVILLE')

In [6]:
SIG.set_index(pd.util.hash_pandas_object(SIG))

,longitude,latitude,main_street,cross_street,route_number,milepoint,owner,type
8937608496319807118,-85.499337,38.270632,OLD HENRY,I 265 RAMP,KY-3084,1.250,KYTC,1
2482055277686964565,-85.498479,38.241589,SHELBYVILLE,BECKLEY WOODS,US 60,12.291,KYTC,1
11348226451814868878,-85.493550,38.240517,SHELBYVILLE,LAKE FOREST,US-60,12.580,KYTC,1
8865150527842919007,-85.570212,38.311002,BROWNSBORO,I 265 RAMP,KY-22,3.700,KYTC,1
10507842959657407246,-85.627965,38.283916,HERR,LIME KILN,KY-22,0.440,KYTC,1
...,...,...,...,...,...,...,...,...
2541413808243074262,-85.546671,38.147768,BILLTOWN RD,I 265 RAMP,KY-1819,5.290,KYTC,1
9199413535584179329,-85.495722,38.271982,OLD HENRY RD,TERRA CROSSING BLVD,KY-3084,1.480,KYTC,1
13440491654099775330,-85.551047,38.296855,WESTPORT RD,I 265 RAMP,KY-1447,6.470,KYTC,1
10347878172697060988,-85.614517,38.125808,BEULAH CHURCH RD,I 265 RAMP,KY-864,3.450,KYTC,1
4940707394724157780,-85.697942,38.275734,ZORN AVE,I 71 RAMP,NaN,NaN,KYTC,1