In [135]:
import pandas as pd
import pandasql
import os


os.chdir("/Users/bencampbell/code_louisville/capstone/louisville-bike-accidents/")

DATA = "data/clean/bike_accidents.csv"
assert os.path.exists(DATA)

DATA = pd.read_csv(DATA)

SIGDATA = "data/preclean/signalized_intersections.csv"

SIG = pd.read_csv(SIGDATA)

# Set hash as index for testing
#DATA['hash'] = pd.util.hash_pandas_object(DATA)
#SIG['hash'] = pd.util.hash_pandas_object(SIG)

def query(query, **names):
    if not names:
        names = {"DATA":DATA, "SIG":SIG}
    return pandasql.sqldf(query, names)

In [136]:
SIG

,longitude,latitude,main_street,cross_street,route_number,milepoint,owner,type
0,-85.499337,38.270632,OLD HENRY,I 265 RAMP,KY-3084,1.250,KYTC,1
1,-85.498479,38.241589,SHELBYVILLE,BECKLEY WOODS,US 60,12.291,KYTC,1
2,-85.493550,38.240517,SHELBYVILLE,LAKE FOREST,US-60,12.580,KYTC,1
3,-85.570212,38.311002,BROWNSBORO,I 265 RAMP,KY-22,3.700,KYTC,1
4,-85.627965,38.283916,HERR,LIME KILN,KY-22,0.440,KYTC,1
...,...,...,...,...,...,...,...,...
1086,-85.546671,38.147768,BILLTOWN RD,I 265 RAMP,KY-1819,5.290,KYTC,1
1087,-85.495722,38.271982,OLD HENRY RD,TERRA CROSSING BLVD,KY-3084,1.480,KYTC,1
1088,-85.551047,38.296855,WESTPORT RD,I 265 RAMP,KY-1447,6.470,KYTC,1
1089,-85.614517,38.125808,BEULAH CHURCH RD,I 265 RAMP,KY-864,3.450,KYTC,1
1090,-85.697942,38.275734,ZORN AVE,I 71 RAMP,NaN,NaN,KYTC,1

In [134]:
query("select SIG.main_street, DATA.roadway_name from SIG join DATA where SIG.main_street == DATA.roadway_name")

           main_street     roadway_name
0          SHELBYVILLE      SHELBYVILLE
1          SHELBYVILLE      SHELBYVILLE
2          SHELBYVILLE      SHELBYVILLE
3          SHELBYVILLE      SHELBYVILLE
4          SHELBYVILLE      SHELBYVILLE
...                ...              ...
11820        BARDSTOWN        BARDSTOWN
11821        BARDSTOWN        BARDSTOWN
11822        BARDSTOWN        BARDSTOWN
11823  TAYLORSVILLE RD  TAYLORSVILLE RD
11824  TAYLORSVILLE RD  TAYLORSVILLE RD

[11825 rows x 2 columns]

In [144]:
data = query("""SELECT SIG.rowid, DATA.rowid FROM
              DATA JOIN SIG on DATA.roadway_name == SIG.main_street""")
data

query('select DATA.rowid, DATA.date from DATA')

#DATA.date

      rowid                       date
0         1  2010-01-13 10:00:00-05:00
1         2  2010-01-13 13:40:00-05:00
2         3  2010-01-15 15:50:00-05:00
3         4  2010-02-02 06:11:00-05:00
4         5  2010-02-05 18:20:00-05:00
...     ...                        ...
1369   1370  2023-08-15 07:19:00-04:00
1370   1371  2023-08-21 14:57:00-04:00
1371   1372  2023-08-30 07:49:00-04:00
1372   1373  2023-09-01 16:20:00-04:00
1373   1374  2023-09-22 23:25:00-04:00

[1374 rows x 2 columns]

In [102]:
SIG.set_index(pd.util.hash_pandas_object(SIG))

,longitude,latitude,main_street,cross_street,route_number,milepoint,owner,type
8937608496319807118,-85.499337,38.270632,OLD HENRY,I 265 RAMP,KY-3084,1.250,KYTC,1
2482055277686964565,-85.498479,38.241589,SHELBYVILLE,BECKLEY WOODS,US 60,12.291,KYTC,1
11348226451814868878,-85.493550,38.240517,SHELBYVILLE,LAKE FOREST,US-60,12.580,KYTC,1
8865150527842919007,-85.570212,38.311002,BROWNSBORO,I 265 RAMP,KY-22,3.700,KYTC,1
10507842959657407246,-85.627965,38.283916,HERR,LIME KILN,KY-22,0.440,KYTC,1
...,...,...,...,...,...,...,...,...
2541413808243074262,-85.546671,38.147768,BILLTOWN RD,I 265 RAMP,KY-1819,5.290,KYTC,1
9199413535584179329,-85.495722,38.271982,OLD HENRY RD,TERRA CROSSING BLVD,KY-3084,1.480,KYTC,1
13440491654099775330,-85.551047,38.296855,WESTPORT RD,I 265 RAMP,KY-1447,6.470,KYTC,1
10347878172697060988,-85.614517,38.125808,BEULAH CHURCH RD,I 265 RAMP,KY-864,3.450,KYTC,1
4940707394724157780,-85.697942,38.275734,ZORN AVE,I 71 RAMP,NaN,NaN,KYTC,1