# Other data discovery
This will contain all my discovery work for other data sources I want to incorporate.

In [3]:
import pandas as pd
from os import chdir, path

chdir("/Users/bencampbell/code_louisville/capstone/louisville-bike-accidents")
DATAPATH = "data/raw/Jefferson_County_KY_Signalized_Intersections.csv"

In [2]:
assert path.exists(DATAPATH)
df = pd.read_csv(DATAPATH)
df

,X,Y,OBJECTID,UNITID,SIGID,MAINSTREET,CROSSSTREET,OWNER2,ROUTE,MILEPOINT,DESCRIPTION,TIMES,OWNER,TYPE,INTID,ATMSID
0,-85.499337,38.270632,1,MPW017206,SIG017206,OLD HENRY,I 265 RAMP,S,KY-3084,1.250,OLD HENRY @ I 265 RAMP,24 HOURS,KYTC,1,76747569996,NaN
1,-85.498479,38.241589,2,MPW017211,SIG017211,SHELBYVILLE,BECKLEY WOODS,S,US 60,12.291,SHELBYVILLE @ BECKLEY WOODS,24 HOURS,KYTC,1,78959406728,NaN
2,-85.493550,38.240517,3,MPW017290,SIG017290,SHELBYVILLE,LAKE FOREST,S,US-60,12.580,SHELBYVILLE @ LAKE FOREST,24 HOURS,KYTC,1,123759407630,NaN
3,-85.570212,38.311002,4,MPW015159,SIG015159,BROWNSBORO,I 265 RAMP,S,KY-22,3.700,BROWNSBORO @ I 265 RAMP,24 HOURS,KYTC,1,143907249996,NaN
4,-85.627965,38.283916,5,MPW011726,SIG011726,HERR,LIME KILN,S,KY-22,0.440,HERR @ LIME KILN,24 HOURS,KYTC,1,184229013860,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086,-85.546671,38.147768,1087,MPW000001,SIG000001,BILLTOWN RD,I 265 RAMP,S,KY-1819,5.290,BILLTOWN RD @ I 265 RAMP,24 HOURS,KYTC,1,822801889996,NaN
1087,-85.495722,38.271982,1088,MPW000002,SIG000002,OLD HENRY RD,TERRA CROSSING BLVD,S,KY-3084,1.480,OLD HENRY @ TERRA CROSSING BLVD,24 HOURS,KYTC,1,2834756E294,NaN
1088,-85.551047,38.296855,1089,MPW000003,SIG000003,WESTPORT RD,I 265 RAMP,S,KY-1447,6.470,WESTPORT RD @ I 265 RAMP,24 HOURS,KYTC,1,698671329996,NaN
1089,-85.614517,38.125808,1090,MPW000004,SIG000004,BEULAH CHURCH RD,I 265 RAMP,S,KY-864,3.450,BEULAH CHURCH RD @ I 265 RAMP,24 HOURS,KYTC,1,978905189996,NaN
1090,-85.697942,38.275734,1091,MPW031242,SIG031242,ZORN AVE,I 71 RAMP,S,NaN,NaN,NaN,NaN,KYTC,1,1217075539999,3506.0

| column name | type | description | cleaning notes |
|-------------|------|-------------|----------------|
|X|float|longitude coordinate for intersection | keep |
|Y|float|latitude coordinate for intersection | keep|	
|OBJECTID| number | id for row | not necessary|
|UNITID| alphanumeric | || not necesary |
|SIGID | alphanumeric | || not necessary |
|MAINSTREET | string | name of main street for intersection | keep |
|CROSSSTREET | string | name of crossstreet for intersection| keep |
|OWNER2	|character | short description for owner of street signal| redundant; info is stored more verbosely in OWNER column: drop |
|ROUTE | alphanumeric | route number for main street? | keep | 
|MILEPOINT | number | milepoint along road where signal is | questionable utility |
|DESCRIPTION | string | description of intersection (ex. 3rd@Broadway) | redundant; drop |
|TIMES| alphanumeric | time that the signal is operating| only 2 values that are not "24 HOUR" or something similar. Probably not useful? drop. |
|OWNER | string | owner of traffic signal ||
|TYPE | number | numeric code for type of traffic signal ||
|INTID | number |numeric identifier for intersection | drop |
|ATMSID | nan + one float value | doesn't matter, I'm not going to use it | drop |

In [3]:
df[["X", "Y"]]

              X          Y
0    -85.499337  38.270632
1    -85.498479  38.241589
2    -85.493550  38.240517
3    -85.570212  38.311002
4    -85.627965  38.283916
...         ...        ...
1086 -85.546671  38.147768
1087 -85.495722  38.271982
1088 -85.551047  38.296855
1089 -85.614517  38.125808
1090 -85.697942  38.275734

[1091 rows x 2 columns]

In [4]:
df[['MAINSTREET', 'CROSSSTREET', "DESCRIPTION"]]

            MAINSTREET          CROSSSTREET                      DESCRIPTION
0            OLD HENRY           I 265 RAMP           OLD HENRY @ I 265 RAMP
1          SHELBYVILLE        BECKLEY WOODS      SHELBYVILLE @ BECKLEY WOODS
2          SHELBYVILLE          LAKE FOREST        SHELBYVILLE @ LAKE FOREST
3           BROWNSBORO           I 265 RAMP          BROWNSBORO @ I 265 RAMP
4                 HERR            LIME KILN                 HERR @ LIME KILN
...                ...                  ...                              ...
1086       BILLTOWN RD           I 265 RAMP         BILLTOWN RD @ I 265 RAMP
1087      OLD HENRY RD  TERRA CROSSING BLVD  OLD HENRY @ TERRA CROSSING BLVD
1088       WESTPORT RD           I 265 RAMP         WESTPORT RD @ I 265 RAMP
1089  BEULAH CHURCH RD           I 265 RAMP    BEULAH CHURCH RD @ I 265 RAMP
1090          ZORN AVE            I 71 RAMP                              NaN

[1091 rows x 3 columns]

In [5]:
df[['MAINSTREET', 'CROSSSTREET', 'ROUTE']]

            MAINSTREET          CROSSSTREET    ROUTE
0            OLD HENRY           I 265 RAMP  KY-3084
1          SHELBYVILLE        BECKLEY WOODS    US 60
2          SHELBYVILLE          LAKE FOREST    US-60
3           BROWNSBORO           I 265 RAMP    KY-22
4                 HERR            LIME KILN    KY-22
...                ...                  ...      ...
1086       BILLTOWN RD           I 265 RAMP  KY-1819
1087      OLD HENRY RD  TERRA CROSSING BLVD  KY-3084
1088       WESTPORT RD           I 265 RAMP  KY-1447
1089  BEULAH CHURCH RD           I 265 RAMP   KY-864
1090          ZORN AVE            I 71 RAMP      NaN

[1091 rows x 3 columns]

In [6]:
df[['DESCRIPTION', "INTID"]]

                          DESCRIPTION           INTID
0              OLD HENRY @ I 265 RAMP     76747569996
1         SHELBYVILLE @ BECKLEY WOODS     78959406728
2           SHELBYVILLE @ LAKE FOREST    123759407630
3             BROWNSBORO @ I 265 RAMP    143907249996
4                    HERR @ LIME KILN    184229013860
...                               ...             ...
1086         BILLTOWN RD @ I 265 RAMP    822801889996
1087  OLD HENRY @ TERRA CROSSING BLVD     2834756E294
1088         WESTPORT RD @ I 265 RAMP    698671329996
1089    BEULAH CHURCH RD @ I 265 RAMP    978905189996
1090                              NaN   1217075539999

[1091 rows x 2 columns]

In [7]:
df['SIGID']

0       SIG017206
1       SIG017211
2       SIG017290
3       SIG015159
4       SIG011726
          ...
1086    SIG000001
1087    SIG000002
1088    SIG000003
1089    SIG000004
1090    SIG031242
Name: SIGID, Length: 1091, dtype: object

In [8]:
df['ROUTE'].value_counts()

ROUTE
US-60      71
US 31W     53
KY-1020    51
KY-61      51
US-31E     44
           ..
KY1865      1
KY 913      1
KY 155      1
KY-22       1
US 31       1
Name: count, Length: 62, dtype: int64

In [9]:
df[['OWNER2', 'OWNER']].value_counts()

OWNER2  OWNER
S       KYTC             751
M       METRO            334
JT      JEFFERSONTOWN      5
MT      MIDDLETOWN         1
Name: count, dtype: int64

In [10]:
df['TIMES'].value_counts()
df['TIMES'] = df['TIMES'].replace({"24 HOURS":"24 HOUR", "24HRS":"24 HOUR"})
df['TIMES'].value_counts()
# Only one value is not == "24 HOURS"

TIMES
24 HOUR     1089
ACTUATED       1
Name: count, dtype: int64

In [11]:
df['ATMSID'].value_counts()

ATMSID
3506.0    1
Name: count, dtype: int64

In [12]:
df['TYPE'].value_counts()

TYPE
1    1018
3      44
2      27
4       2
Name: count, dtype: int64

In [14]:
dropping = ["OBJECTID", "UNITID", "SIGID", "TIMES", "OWNER2", "DESCRIPTION", "INTID", "ATMSID"]
df = df.drop(dropping, axis=1)

In [18]:
renames = {"X":"longitude",
            "Y":"latitude",
            "MAINSTREET":"main_street",
            "CROSSSTREET":"cross_street",
            "ROUTE":"route_number",
            "MILEPOINT":"milepoint",
            "OWNER":"owner",
            "TYPE":"type"}

df.rename(renames, axis=1)

,longitude,latitude,main_street,cross_street,route_number,milepoint,owner,type
0,-85.499337,38.270632,OLD HENRY,I 265 RAMP,KY-3084,1.250,KYTC,1
1,-85.498479,38.241589,SHELBYVILLE,BECKLEY WOODS,US 60,12.291,KYTC,1
2,-85.493550,38.240517,SHELBYVILLE,LAKE FOREST,US-60,12.580,KYTC,1
3,-85.570212,38.311002,BROWNSBORO,I 265 RAMP,KY-22,3.700,KYTC,1
4,-85.627965,38.283916,HERR,LIME KILN,KY-22,0.440,KYTC,1
...,...,...,...,...,...,...,...,...
1086,-85.546671,38.147768,BILLTOWN RD,I 265 RAMP,KY-1819,5.290,KYTC,1
1087,-85.495722,38.271982,OLD HENRY RD,TERRA CROSSING BLVD,KY-3084,1.480,KYTC,1
1088,-85.551047,38.296855,WESTPORT RD,I 265 RAMP,KY-1447,6.470,KYTC,1
1089,-85.614517,38.125808,BEULAH CHURCH RD,I 265 RAMP,KY-864,3.450,KYTC,1
1090,-85.697942,38.275734,ZORN AVE,I 71 RAMP,NaN,NaN,KYTC,1